.todosMode {
  display: flex;
  justify-content: center;
}

.todosModeItem {
  color: green
}

.todosModeItem:hover {
  color: red;
}

.todosMode li {
  list-style-type: none;
  margin-right: 20px;
  cursor: pointer;
}

.todosMode li:hover {
  color: red;
}

.todosModeItemActive {
  font-weight: bold;
}